@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
    /*var tituloComic = "EL increible Hulk!!!";
    var numeroComic = "790";
    var descripcion = "<p>Hulk ayuda a los avengers a darle en la madre a <strong>ultron</strong></p>";
    var artists = new string[]
        {
            "script: dan slott",
            "pencils: humberto ramos",
            "Inks: victor olazaba",
            "colors: Edgar Delgado",
            "letter: Chris eliopoulos"
        };*/
}


        <h1>@ViewBag.tituloComic</h1>
        <h2>@ViewBag.numeroComic</h2>
        <h2>descripcion</h2>
        <div>@Html.Raw(ViewBag.descripcion)</div>
        
        @if (ViewBag.Artists.Length > 0)
        {
            <h5>Artista</h5>
            <ul>
             @foreach (var artist in ViewBag.artists)
                {
                    <li>@artist</li>
                }
            </ul>
        }
    