@{
    Layout = null;
    var tituloComic = "EL increible Hulk!!!";
    var numeroComic = "790";
    var descripcion = "<p>Hulk ayuda a los avengers a darle en la madre a <strong>ultron</strong></p>";
    var artists = new string[]
        {
            "script: dan slott",
            "pencils: humberto ramos",
            "Inks: victor olazaba",
            "colors: Edgar Delgado",
            "letter: Chris eliopoulos"
        };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina de prueba con MVC</title>
</head>
<body>
    <div>
        <h1>@tituloComic</h1>
        <h2>@numeroComic</h2>
        <h2>descripcion</h2>
        <div>@Html.Raw(descripcion)</div>
        
        <h5>Artista</h5>
        <ul>
            @foreach (var artist in artists)
            {
                <li>@artist</li>
            }
        </ul>
    </div>  
</body>
</html>
